@layer components {
  .rcg-glass-card {
    position: absolute;
    inset: 0;
    border-radius: inherit;
    pointer-events: none;
  }
  .rcg-glass-card::before,
  .rcg-glass-card::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    opacity: 1;
    transform: rotate(0deg) translateY(50%);
    transition: opacity 300ms;
    animation: rcg-rotation-a 3000ms linear infinite;
    animation-play-state: paused;
  }
  .rcg-glass-card::before {
    top: 50%;
    left: 0;
    background: linear-gradient(90deg, #ff2288, transparent);
  }
  .rcg-glass-card::after {
    bottom: 50%;
    right: 0;
    background: linear-gradient(90deg, transparent, #2268ff);
    animation-name: rcg-rotation-b;
  }
  .group:hover .rcg-glass-card::before,
  .group:hover .rcg-glass-card::after {
    animation-play-state: running;
  }

  .rcg-glass {
    position: absolute;
    inset: 0;
    background: #17171733;
    backdrop-filter: blur(50px);
    z-index: 1;
    transition: opacity 0.5s ease;
  }
  .group:hover .rcg-glass { opacity: 0; }

  .rcg-glass-content {
    position: absolute;
    inset: 0;
  }
  .rcg-glass-content::before {
    opacity: 0;
    transition: opacity 300ms ease;
    content: " ";
    display: block;
    background: #fff5;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(50px);
  }
  .group:hover .rcg-glass-content::before { opacity: 1; }

  @keyframes rcg-rotation-a {
    0% { transform: rotate(0deg) translateY(50%); }
    100% { transform: rotate(360deg) translateY(50%); }
  }
  @keyframes rcg-rotation-b {
    0% { transform: rotate(0deg) translateY(-50%); }
    100% { transform: rotate(360deg) translateY(-50%); }
  }
}
